@model List<UI.Controllers.Device>
@{
    ViewBag.Title = "Lighting";
    var count=0;
}

@section Scripts{
<script src="Scripts/json2.min.js"></script>
<script src="Scripts/jquery.signalR-0.5.3.min.js"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script type="text/javascript">
      $(function () {
          // Proxy created on the fly
          var chat = $.connection.relayCommands;

          // Declare a function on the chat hub so the server can invoke it
          chat.sent = function (address,command) {
              $('#messages').text(  address+ ' ' + command ).show().fadeOut(1500);
          };

          // Declare a function on the chat hub so the server can invoke it
          chat.heartBeatReceived = function (address, command) {
              $('#heartbeat').text(address + ' ' + command).show().fadeOut(15000);
          };

          $("select").bind("change", function (event, ui) {
              chat.sendCommandToClient($(this[0]).parent().data("x10"), $(this[0]).parent().val());
          });

          // Start the connection
          $.connection.hub.start();
      });
</script>
}
<h2>Hexter's</h2>
<div id="heartbeat"></div>
<div " class="ui-body ui-body-a">
    @foreach(var device in Model){
    <div data-role="fieldcontain" >
    <label for="flip-@count">@device.Name</label>
    <select name="flip-@count"  data-role="slider" data-mini="true" data-x10="@device.Adress">
	    <option value="off">Off</option>
	    <option value="on">On</option>
    </select>
    </div>
    count++;
    }
</div>

<div id="messages"></div>
