@using UI.Controllers
@using UI.Models
@model UI.Controllers.HomeViewModel
@{
    ViewBag.Title = "Lighting";
}
<h2>Hexter's</h2>
<div id="heartbeat" data-bind="text: Heartbeat"></div>
<div class="ui-grid-a">
    <div class="ui-block-a">
        <div class="ui-body ui-body-a">
            @foreach (Scene scene in Model.Scenes)
            {
                <div data-role="fieldcontain" >
                    <input type="button" class="scenebutton" value="@scene.DisplayName" data-x10="@scene.Value"/>
                </div>
            }
        </div>
    </div>
    <div class="ui-block-b">
        <div class="ui-body ui-body-a" data-bind="foreach: Devices">
            <div data-role="fieldcontain" >
                <label  data-bind="text:DisplayName"></label>    
                <select  data-role="none" data-bind="value: State , attr: {name : DisplayName , 'data-x10' : Address}" >
                    <option value="off">Off</option>
                    <option value="on" >On</option>
                </select>   
            </div>
        </div>
    </div>	   
</div>
<div id="messages" data-bind="text:Message"></div>



@section Scripts{
    <script src="~/Scripts/json2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-0.5.3.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/knockout-2.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript">
        $(function() {
            var viewModel = ko.mapping.fromJS(@Html.Raw(Model.ToJson()));
            ko.applyBindings(viewModel);

            $("select").slider();

            var hub = $.connection.relayCommandHub;
            
            $("select").bind("change", function(event, ui) {
                hub.requestDeviceStateChange($(this[0]).parent().data("x10"), $(this[0]).parent().val());
            });

            $('input.scenebutton').bind("click", function(event, ui) {
                hub.requestSceneExecution($(this).data("x10"));
            });

            hub.broadcastDeviceState = function(value, state) {
                if (value != "") {
                    for (i = 0; i < viewModel.Devices().length; i++) {
                        if (viewModel.Devices()[i].Value().toString() === value) {
                            viewModel.Devices()[i].State(state);
                            $("select").slider('refresh');
                            viewModel.Message(viewModel.Devices()[i].DisplayName() + ' ' + state);
                        }
                    }
                }

            };

            hub.broadcastHeartbeat = function(time) {
                viewModel.Heartbeat(time);
            };
            $.connection.hub.start();
        });
    </script>
}
