@using UI.Models
@model UI.Controllers.HomeViewModel
@{
    ViewBag.Title = "Lighting";
    var count=0;
}

@section Scripts{
<script src="~/Scripts/json2.min.js"></script>
<script src="~/Scripts/jquery.signalR-0.5.3.min.js"></script>
<script src="~/Scripts/knockout-2.1.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var viewModel = ko.mapping.fromJS(@Html.Raw(Model.ToJson() ));        
        ko.applyBindings(viewModel);
        $("select").slider();

        $("select").bind("change", function (event, ui) {
            hub.sendCommandToClient($(this[0]).parent().data("x10"), $(this[0]).parent().val());
        });

        var hub = $.connection.relayCommandHub;
        hub.sent = function (id, command) {
            if (id != "") {
                viewModel.Message(id + ' ' + command);
                for (i = 0; i < viewModel.Devices().length; i++) {
                    var d = viewModel.Devices()[i];
                    if (d.Value().toString() === id) {
                        viewModel.Devices()[i].State(command);                        
                        $("select").slider('refresh');
                    }
                }
            }

        };

        hub.heartBeatReceived = function (address, command) {
            viewModel.Heartbeat(address + ' ' + command);
        };
         $.connection.hub.start();               
    });
</script>
}
<h2>Hexter's</h2>
<div id="heartbeat" data-bind="text: Heartbeat"></div>

<div class="ui-body ui-body-a" data-bind="foreach: Devices">
    <div data-role="fieldcontain" >
    <label  data-bind="text:DisplayName"></label>    
        <select  data-role="none" data-bind="value: State , attr: {name : DisplayName , 'data-x10' : Address}" >
            <option value="off">Off</option>
            <option value="on" >On</option>
        </select>   
    </div>
</div>
<div id="messages" data-bind="text:Message"></div>
